{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col">
   <h2>Welcome to tweetme</h2> 
    </div>
</div>

<div class='row mb-4'>
    <div class='col-md-4 mx-auto col-10'>
        <form class="form" id='tweet-create-form' method='POST' action='/create-tweet'>{% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your Tweet ...'></textarea>
            <button type="submit" class='btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div class="row" id="tweets">
       Replace me
    
</div>

<script>

    const handleTweetCreateFormError = (msg, display) => {

        let errDiv = document.getElementById("tweet-create-form-error")
        if (display === true){
            errDiv.setAttribute("class", "d-block alert alert-danger")
            errDiv.innerText = msg
        } else { 
            //hide error
            errDiv.setAttribute("class", "d-none alert alert-danger")
        }

    }


    function handleTweetCreateFormDidSubmit(event) {
        event.preventDefault()
        console.log(event.target)
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const responseType = 'json'
        const endpoint = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        console.log(method, endpoint)
        const xhr = new XMLHttpRequest()
        xhr.open(method, endpoint)
        xhr.responseType = responseType
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With","XMLHttpRequest") 
        xhr.onload = function() {
            if (xhr.status === 201){
                handleTweetCreateFormError("", false)
                const newTweetJson = xhr.response
                const newTweetElement = formatTweetElement(newTweetJson)
                console.log(newTweetElement)
                const ogHtml = tweetContainerElement.innerHTML
                tweetContainerElement.innerHTML = newTweetElement + ogHtml
                myForm.reset()
            }else if (xhr.status === 400) {
                const errorJson = xhr.response
                console.log(errorJson)
                const contentError = errorJson.content
                let contentErrorMsg;
                if (contentError){ 
                    contentErrorMsg = contentError[0]
                    if (contentErrorMsg){
                        handleTweetCreateFormError(contentErrorMsg, true)
                    } else {
                        alert("An error occured. Please try again")
                    }
                } else {
                    alert("An error occured. Please try again")
                }
                console.log(contentErrorMsg)
            } else if (xhr.status === 500){
                alert("There was a server error, please try again later.")
            }
        }
        xhr.onerror = () => {
            alert("An error occured. Please try again.")
        }
        xhr.send(myFormData)
    }

    const tweetContainerElement = document.getElementById("tweets")
    const tweetCreateFormEl = document.getElementById("tweet-create-form")

    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFormDidSubmit)

    const handleDidLike = (tweet_id, currentCount) => {
        console.log(tweet_id, currentCount)
    }

    const loadTweets = (tweetElement) => {
       
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/tweets"
    const responseType = "json" 

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        
    const server_response = xhr.response
    const listedItems = server_response.response
        
    var finalTweetStr = ""
    for(let i=0;i<listedItems.length;i++){
        let currentItem = formatTweetElement(listedItems[i])
        finalTweetStr += currentItem
        }

    console.log(listedItems)
    tweetElement.innerHTML = finalTweetStr

    }
    xhr.send()
    }

    loadTweets(tweetContainerElement)

    function LikeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onClick=handleDidLike(" + tweet.id + "," + tweet.likes + ")>"+ tweet.likes + "Likes </button>"
    }

    const formatTweetElement = tweet =>
    {
        var formattedTweet = "<div class='col-12 col-md-10 mx-auto rounded border py-3 mb-4 tweet' id='tweet-" + tweet.id
         + "'><p>" + tweet.content + 
         "</p><div class='btn-group'>" +
         LikeBtn(tweet) +
         "</div></div>"
        return formattedTweet
    }

</script>


{% endblock %}
